<form class="form-horizontal" name="form" >
    <fieldset>
    
    <!-- Form Name -->
    <legend>{{$ctrl.titre}}</legend>
    
    <div class="form-group">
        <label class="col-md-4 control-label" for="selectbasic">Date de debut </label>
      <div class="col-md-4">
        <p class="input-group">
          <input type="text" name="dateDebut" class="form-control" ng-value="$ctrl.phInit" uib-datepicker-popup="dd/MM/yyyy" ng-model="$ctrl.dtDebut" is-open="$ctrl.popup1.opened" datepicker-options="$ctrl.dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" required />
          <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="$ctrl.open1()"><i class="glyphicon glyphicon-calendar"></i></button>
          </span>
        </p>
      </div>
    </div>
 
    <div class="form-group">
        <label class="col-md-4 control-label" for="selectbasic">Date de fin</label>
      <div class="col-md-4">
        <p class="input-group">
          <input type="text" ng-value="$ctrl.phFin" name="dateFin" class="form-control" uib-datepicker-popup="dd/MM/yyyy" ng-model="$ctrl.dtFin" is-open="$ctrl.popup2.opened" datepicker-options="$ctrl.dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" required/>
          <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="$ctrl.open2()"><i class="glyphicon glyphicon-calendar"></i></button>
          </span>
          <div  ng-show="form.dateDebut.$dirty && form.dateFin.$dirty && !$ctrl.verrifDateDebutInfDateFin()  " class="alert alert-danger" role="alert">
              <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
              <span class="sr-only">Error:</span>
              La date de début doit être inférieure à la date de fin.
            </div>
            <div  ng-show="form.dateDebut.$dirty && $ctrl.verrifDateDuJour()  " class="alert alert-danger" role="alert">
                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                <span class="sr-only">Error:</span>
                La date de début ne peut pas être celle du jour.
            </div>
    
        </p>
      </div>
    </div>
    <!-- Select Basic -->
    <div class="form-group">
      <label class="col-md-4 control-label"  for="selectbasic">Type congé</label>
      <div class="col-md-4">
        <select ng-model="$ctrl.type" id="selectbasic" ng name="selectbasic" class="form-control" required>
          
          <option value="CONGES_PAYES">Congés payes</option>
          <option value="RTT">RTT</option>
          <option value="CONGES_SANS_SOLDE">Congés sans solde</option>
        </select>
      </div>
    </div>
    
    <!-- Textarea -->
    <div class="form-group">
      <label class="col-md-4 control-label"  for="textarea">Motif</label>
      <div class="col-md-4">                     
        <textarea class="form-control" ng-value="$ctrl.phMotif" ng-model='$ctrl.motif' id="textarea" name="textarea"></textarea>
        <div  ng-show="form.selectbasic.$dirty && $ctrl.motifPourCongeSansSolde() " class="alert alert-danger" role="alert">
          <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
          <span class="sr-only">Error:</span>
          Vous devez entrer un motif pour une demande Sans Solde.
        </div>
      </div>
    </div>
    <div  ng-show="$ctrl.notvalid " class="alert alert-danger" role="alert">
      <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
      <span class="sr-only">Error:</span>
      {{$ctrl.error}}
    </div>
  </div>
</div>
  </form>
    <!-- Button (Double) -->
    <div class="form-group">
      <label class="col-md-4 control-label" for="button1id"></label>
      <div class="col-md-8">
        <button id="button1id" ng-disabled="form.$invalid || !$ctrl.verrifDateDebutInfDateFin() || $ctrl.motifPourCongeSansSolde() || $ctrl.verrifDateDuJour() " name="button1id" ng-click="$ctrl.addAbsence()" class="btn btn-success">Valider</button>
        <button id="button2id" name="button2id" ng-click="$ctrl.annuler()" class="btn btn-danger">Annuler</button>
      </div>
    </div>
    
    </fieldset>
    