.absence {
    color: white;
    text-decoration: bold;
    background-color: #428bca !important;
  }

  .jourferie{
      color: white;
      text-decoration:bold  ;
      background-color: #9ACD32;
  }