
<h1 class="text-center">Vue par département par jour et par collaborateur</h1>

<div class="container">
    <h4 class="text-center">
        Département
        <select ng-model="$ctrl.departementCourant">
			<option ng-repeat="departement in $ctrl.departements" ng-value="departement">{{departement}}</option>
		</select>
        Mois
        <select ng-model="$ctrl.moisCourant">
            <option ng-repeat="moiss in $ctrl.mois" ng-value="moiss">{{moiss}}</option>
        </select>
        Année
        <select ng-model="$ctrl.anneeCourante">
            <option ng-repeat="annee in $ctrl.annees" ng-value="annee">{{annee}}</option>
        </select>
        <button type="submit" class="btn btn-primary glyphicon glyphicon-zoom-in">
    </h4>
	<br>
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Nom</th>
                <th ng-repeat="jour in $ctrl.jours">{{jour}}</th>
            </tr>
        </thead>
        <tbody>

        </tbody>
    </table>

</div>