<style>
	
	div.container{
		padding: 0;
	}

	div.connexion-frame{
		margin-top: 3%;
		background-color: #ddd;
	}

	div.connexion-frame div{
		text-align: center;
	}
	
	.row.logo img{
		display: inline-block;
	}

	.row.logo{
		border: 1px solid #666;
		text-align: center;
	}
	
	form .error{
		color: red;
	}
</style>

<div class="container">
	<div class="connexion-frame col-sm-10 col-sm-offset-1">
		<div class="row logo">
			<img class="img img-responsive" ng-src="/assets/logo.png"/>
		</div>
		<div class="row">
			<h1>GDA</h1>
		</div>
		<div class="row">
			<h3>Gestion des Absences</h3>
		</div>
		<form class="row form-horizontal">
			<div class="form-group">
				<label class="col-sm-4 col-sm-offset-1 control-label" for="email">Email</label>  
				<div class="col-sm-6">
					<input id="email" name="email" type="text" placeholder="Votre Email" class="form-control input-md" ng-model="$ctrl.email" required>
				</div>
			</div>

			<div class="form-group">
				<label class="col-sm-4 col-sm-offset-1 control-label" for="password">Mot de passe</label>
				<div class="col-sm-6">
					<input id="password" name="password" type="password" placeholder="Votre mot de passe" class="form-control input-md" ng-model="$ctrl.pwd" required>
				</div>
			</div>
			
			<div class="error" ng-show="$ctrl.error">
				Vos informations d'authentification sont invalides
			</div>
			<div class="error" ng-show="$ctrl.errorServer">
				La connexion avec le serveur a échoué !
			</div>

			<div class="form-group">
				<div class="col-sm-3 col-sm-offset-8">
					<button id="connexion" name="connexion" class="btn btn-primary" ng-click="$ctrl.checkConnexion()">Se connecter</button>
				</div>
			</div>
		</form>
	</div>
</div>