
<h1 class="text-center">Validation des demandes</h1>

<div class="container">
	
	<div class="row" ng-show="$ctrl.errorMaj">
		<span class="col-xs-12 alert alert-danger">
			La demande n'a pas pu être mise à jour...
		</span>
	</div>

	<div class="row" ng-show="$ctrl.errorServeur">
		<span class="col-xs-12 alert alert-danger">
			La connexion avec le serveur a échoué !
		</span>
	</div>
	
	<div ng-show="$ctrl.absences.length==0" class="row alert alert-info">
		Il n'y a aucune demande en attent de validation !
	</div>
	
    <table ng-show="$ctrl.absences.length>0" class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>
                    <a href="#" ng-click="$ctrl.updateOrderEtTri('dateDebut')">
                        Date de début
                        <span ng-if="$ctrl.order == 'dateDebut'">
                            <span ng-show="$ctrl.triInverse">
                                <span class="caret"></span>
                            </span>
                            <span ng-show="!$ctrl.triInverse">
                                <span class="dropup"><span class="caret"></span></span>
                            </span>
                        </span>
                    </a>
                </th>
                <th>
                    <a href="#" ng-click="$ctrl.updateOrderEtTri('dateFin')">
                        Date de fin
                        <span ng-if="$ctrl.order == 'dateFin'">
                            <span ng-show="$ctrl.triInverse">
                                <span class="caret"></span>
                            </span>
                            <span ng-show="!$ctrl.triInverse">
                                <span class="dropup"><span class="caret"></span></span>
                            </span>
                        </span>
                    </a>
                </th>
                <th>
                    <a href="#" ng-click="$ctrl.updateOrderEtTri('type')">
                        Type
                        <span ng-if="$ctrl.order == 'type'">
                            <span ng-show="$ctrl.triInverse">
                                <span class="caret"></span>
                            </span>
                            <span ng-show="!$ctrl.triInverse">
                                <span class="dropup"><span class="caret"></span></span>
                            </span>
                        </span>
                    </a>
                </th>
                <th>
                    <a href="#" ng-click="$ctrl.updateOrderEtTri('nom')">
                        Nom
                        <span ng-if="$ctrl.order == 'nom'">
                            <span ng-show="$ctrl.triInverse">
                                <span class="caret"></span>
                            </span>
                            <span ng-show="!$ctrl.triInverse">
                                <span class="dropup"><span class="caret"></span></span>
                            </span>
                        </span>
                    </a>
                </th>
                <th>
                    <a href="#" ng-click="$ctrl.updateOrderEtTri('action')">
                        Actions
                        <span ng-if="$ctrl.order == 'action'">
                            <span ng-show="$ctrl.triInverse">
                                <span class="caret"></span>
                            </span>
                            <span ng-show="!$ctrl.triInverse">
                                <span class="dropup"><span class="caret"></span></span>
                            </span>
                        </span>
                    </a>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="absence in $ctrl.absences| orderBy:$ctrl.order:$ctrl.triInverse">
                <td>{{absence.dateDebut}}</td>
                <td>{{absence.dateFin}}</td>
                <td>{{absence.type}}</td>
                <td>{{absence.nom}}</td>
                <td>
					<a class="col-xs-6"
					   href="#"
					   ng-click="$ctrl.setAbsence(absence.id, true)"
					   style="text-align: center; color: green;">
						<span class="glyphicon glyphicon-ok"></span>
					</a>
					<a class="col-xs-6"
					   href="#"
					   ng-click="$ctrl.setAbsence(absence.id, false)"
					   style="text-align: center; color: red;">
						<span class="glyphicon glyphicon-remove"></span>
					</a>
                </td>
            </tr>
        </tbody>
    </table>

</div>
